thirdparty/jsoncpp*
thirdparty/apache-log4cxx-0.10.0*
thirdparty/boost*
thirdparty/freeglut*
thirdparty/glsdk*
thirdparty/gtest*
thirdparty/log4cpp*
thirdparty/pantheios*
thirdparty/pantheios-1.0.1-beta214*
thirdparty/stlsoft-1.9.118*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
lib*.so
lib*.a
game.standard.log
pluginLoaderTestConfig.json
pluginTest
pluginLoaderTestConfig.json
managerTest
managerTestConfig.json
renderablemanagerConfig.json
game_main
mainConfig.json
